{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section-padding has-shapes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="content text-center">
                {{ .Content }}
            </div>
            <div class="content">
                <p>Bestimme jetzt im <a href="#form">Formular</a> am Seitenende mit!</p>
            </div>
        </div>
        <div class="row">
            {{ range .Pages }}
            <div class="col-xl-3 col-lg-6 col-md-9 mb-40">
                <h2>{{ .Title }}</h2>
                <div>{{ .Content }}</div>
                <br>
                <ol>
                    {{ range .Pages }}
                    {{ if gt (len .Content) 0 }}
                    <a href="{{ .Permalink }}">
                        <li>{{ .Title }}</li>
                    </a>
                    {{ else }}
                    <li>{{ .Title }}</li>
                    {{ end }}
                    {{ end }}
                </ol>
            </div>
            {{ end }}
        </div>
        <hr>
        <div class="row justify-content-center">
            <form class="col-8" id="form">
                <input type="hidden" id="vote" name="vote" value="{{ .Params.id }}" required>
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="email">Email<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="email" placeholder="email@wascooles.com" id="email"
                        name="email" required>
                </div>
                {{ if .Params.additional_textinputs }}
                {{ range .Params.additional_textinputs }}
                <div class=" form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="{{ . }}">{{ . }}<strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control shadow-none" type="text" placeholder="{{ . }}" id="{{ . }}"
                        name="{{ . }}" required>
                </div>
                {{ end }}
                {{ end }}
                <div class="form-group mb-30">
                    <label class="text-black-200 h5 font-weight-600 mb-2" for="stimmme">Deine Stimme<strong
                            style="color: darkred;">*</strong></label>
                    <select class="form-control shadow-none" id="stimme" name="stimme" required>
                        <option selected disabled>-- Bitte wählen --</option>
                        {{ range .Pages }}
                        <optgroup label="{{ .Title }}">
                            {{ range .Pages }}
                            <option value="{{ .Parent.Title }};{{.Title}}">{{.Title}}</option>
                            {{ end }}
                        </optgroup>
                        {{ end }}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Abstimmen</button>
            </form>
            <div id="success-message" style="display: none">
                <h3>Vielen Dank!</h3>
                <p>Damit deine Stimme nun auch wirklich zählt musst du noch deine Email bestätigen.</p>
                <p>Solltest du kein Email erhalten haben melde dich bei <a
                        href="mailto:thomas.vonmentlen@jublaost.ch">thomas.vonmentlen@jublaost.ch</a></p>
            </div>
            <div id="retry-message" style="display: none">
                <h3>Bereits abgestimmt!</h3>
                <p style="color: darkred;">Mit dieser Mailadresse wurde bereits abgestimmt.</p>
            </div>
            <div id="error-message" style="display: none">
                <h3>Ups!</h3>
                <p style="color: darkred;">Leider hat etwas nicht geklappt.. Bitte melde dich bei Thomas von Mentlen <a
                        href="mailto:thomas.vonmentlen@jublaost.ch">thomas.vonmentlen@jublaost.ch</a></p>
            </div>
        </div>
    </div>

    <div class="shape-1 shape-sm bg-secondary rounded-circle"></div>
    <div class="shape-2 shape-sm-2 bg-primary rounded-circle"></div>
    <div class="shape-3 shape-sm bg-secondary rounded-circle"></div>
    <div class="shape-4 shape-sm-2 bg-tertiary rounded-circle"></div>
</section>

{{ end }}