{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<section id="content" class="section-padding has-shapes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="content text-center">
                {{ .Content }}
            </div>

        </div>
        <div class="row justify-content-center">
            <a href="{{with .Parent}}{{with .Parent}}{{.Permalink}}{{end}}{{end}}"><button
                    class="btn btn-secondary">Zurück</button></a>
        </div>
    </div>

    <div class="shape-1 shape-sm bg-secondary rounded-circle"></div>
    <div class="shape-2 shape-sm-2 bg-primary rounded-circle"></div>
    <div class="shape-3 shape-sm bg-secondary rounded-circle"></div>
    <div class="shape-4 shape-sm-2 bg-tertiary rounded-circle"></div>
</section>

{{ end }}